<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>index</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui" />
    <meta name="format-detection" content="telephone=no, email=no">
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="cache-control" content="no-cache" />
    <link rel="stylesheet" href="../assets/css/public.css" th:href="@{/assets/css/public.css}"/>

    <script src="//cdn.staticfile.org/jquery/1.12.4/jquery.min.js"></script>
    <script src="//cdn.staticfile.org/sockjs-client/1.1.5/sockjs.min.js"></script>
    <script src="//cdn.staticfile.org/stomp.js/2.3.3/stomp.min.js"></script>
    <script type="text/javascript">

        var url = "/crawler/feedback";
        var stompClient = null;

        function connect(url) {

            var websocket = new SockJS(url);
            stompClient = Stomp.over(websocket);
            function connectCallback(frame) {
                console.log('连接成功【' + frame + '】');
                stompClient.subscribe('/topic/feedback', function(message) {
                    console.log("receive: /topic/callback: " + message.body);
                    var data = JSON.parse(message.body);
                    console.log(data.url);
                    console.log(data.name);
                    console.log(data.coverUrl);
                    console.log(data.courseId);
                    console.log(data.status);
                    console.log(data.current);
                    console.log(data.currentName);
                    console.log(data.count);
                    console.log(data.status);
                    $('<div>').appendTo('#job').html('<div>\n' +
                        '        <img src="' + data.coverUrl + '" width="60px;"/>\n' +
                        '        <span>' + data.name + '</span>\n' +
                        '        <span>' + data.currentName + '</span>\n' +
                        '        <span>完成情况: ' + data.current + '/' + data.count + '</span>\n' +
                        '    </div>')
                        .show().delay(10000).fadeOut();
                });
            }
            function errorCallback(error) {
                console.log("连接失败: " + error);
            }
            // 向服务器发起websocket连接并发送CONNECT帧
            stompClient.connect({}, connectCallback, errorCallback);
        }
        connect(url);
        setInterval(function(){
            if (stompClient.ws.readyState > 1) {
                console.log('try reconnect.');
                connect(url);
            }
        }, 6000);

        function disconnect() {
            console.log('dis')
            if (stompClient != null) {
                stompClient.disconnect();
            }
        }
        window.onbeforeunload = disconnect;
    </script>
</head>
<body>

<h2>添加抓取任务:</h2>

<input id="taskUrl" type="text" style="width: 600px; height: 80px; font-size: large"/>
<input id="submit" type="button" style="width: 120px; height: 80px; font-size: large" value="提交"/>

<h2>任务抓取情况:</h2>
<div id="job">
    <h2>抓取中。。。</h2>
    <!--<div>-->
        <!--<img src="http://fdfs.xmcdn.com/group10/M04/7F/9C/wKgDZ1YV8v3iaZJlAAJ0WqmsUHs027_web_large.jpg" width="120px;"/>-->
        <!--<span>就这900句玩转日语【有声版】</span>-->
        <!--<span>当前抓取: 场景11-3 聊工作</span>-->
        <!--<span>完成情况: 12/109</span>-->
    <!--</div>-->
</div>


</body>
<script type="text/javascript" src="//cdn.staticfile.org/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        $("#submit").click(function(){
            var taskUrl = $("#taskUrl").val();
            $.post("/task/add", {url: taskUrl}, function (data) {
                console.log(data);
            });
        });
    });
</script>
</html>

