<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>index</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui" />
    <meta name="format-detection" content="telephone=no, email=no">
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="cache-control" content="no-cache" />
    <link rel="stylesheet" href="../assets/css/public.css" th:href="@{/assets/css/public.css}"/>

    <script src="//cdn.staticfile.org/jquery/1.12.4/jquery.min.js"></script>
    <script src="//cdn.staticfile.org/sockjs-client/1.1.5/sockjs.min.js"></script>
    <script src="//cdn.staticfile.org/stomp.js/2.3.3/stomp.min.js"></script>
    <script type="text/javascript">

        var url = "/crawler/feedback";
        var stompClient = null;

        function connect(url) {

            var websocket = new SockJS(url);
            stompClient = Stomp.over(websocket);
            function connectCallback(frame) {
                console.log('连接成功【' + frame + '】');
                stompClient.subscribe('/topic/feedback', function(message) {
                    console.log("receive: /topic/callback: " + message.body);
                    var data = JSON.parse(message.body);
                    var template = doT.template($('#feedbackTmpl').html());
                    if (data.status == 1 || data.status == 2) {
                        $('<div>').appendTo('#job').html(template(data)).show().delay(10000).fadeOut();
                    } else {
                        $('<div>').appendTo('#job').html(template(data)).show();
                    }
                });
            }
            function errorCallback(error) {
                console.log("连接失败: " + error);
            }
            // 向服务器发起websocket连接并发送CONNECT帧
            stompClient.connect({}, connectCallback, errorCallback);
        }
        connect(url);
        setInterval(function(){
            if (stompClient.ws.readyState > 1) {
                console.log('try reconnect.');
                connect(url);
            }
        }, 6000);

        function disconnect() {
            console.log('dis')
            if (stompClient != null) {
                stompClient.disconnect();
            }
        }
        window.onbeforeunload = disconnect;
    </script>
</head>
<body>

<h2>添加抓取任务:</h2>

<!--<input id="taskUrl" type="text" style="width: 600px; height: 80px; font-size: large"/>-->
<textarea id="taskUrl" style="width: 600px; height: 300px; font-size: large"></textarea>
<input id="submit" type="button" style="width: 120px; height: 80px; font-size: large" value="提交"/>

<h2>任务抓取情况:</h2>
<div id="job">
    <h2>抓取中。。。</h2>

</div>


</body>
<script type="text/javascript" src="//cdn.staticfile.org/dot/1.1.2/doT.min.js"></script>
<script type="text/javascript">
    $(function () {
        $("#submit").click(function(){
            var taskUrl = $("#taskUrl").val();
            $.post("/task/add", {urls: taskUrl}, function (data) {
                $("#taskUrl").val('');
            });
        });
    });
</script>

<script id="feedbackTmpl" type="text/x-dot-template">
    <div>
        <img src="{{=it.coverUrl}}" width="100px;"/>
        <a href="{{=it.url}}" target="_blank"><span>{{=it.name}}</span></a>

        {{? it.status == 0 }}
            <span>抓取失败, 错误信息: {{=it.message}}</span>
        {{?? it.status == 1 }}
            <span>解析成功, 章节共计: {{=it.count}}</span>
        {{?? it.status == 2 }}
            <span>当前抓取: {{=it.currentName}}</span>
            <span>完成情况: {{=it.current}}/{{=it.count}}</span>
        {{?? it.status == 3 }}
            <span>抓取完成, 章节共计: {{=it.count}}, </span>
            <a href="http://mooc1.chaoxing.com/zt/{{=it.courseId}}.html" target="_blank">预览</a>
        {{? }}


    </div>
</script>
</html>

